<h1>Epic Theater Database Management</h1>
<div class="homepageDescription">
    <p>Preview the availble pages for Epic Theater Database Management System</p>
    <p>
        <br>The Epic Theater Management System: A web application and relational database for managing the Epic Movie Theater,
            including movies, screens, showtimes, tickets, and customers.
    </p>
</div>