<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/Movies">Movies</a>
        <a href="/Screens">Screens</a>
        <a href="/Customers">Customers</a>
        <a href="/Showtimes">Showtimes</a>
        <a href="/Tickets">Tickets</a>

        <a href="/reset-table">Reset Table</a>

    </nav>

    {{{body}}}

</body>
</html>